@import url(https://fonts.googleapis.com/css?family=Arvo);

* {
  box-sizing: border-box;
  
}

body {
  font-family: "Arvo";
  background-color: #eee;
  color: #595959;
}

.width (@cols:1) {
	width: (@cols * (@column + @gutter) - @gutter) / @em;
}

.buttons {
  width: 460px;

  text-align: center;
}

button {
  border: 0;
  padding: 1em 1.5em;

  color: #fff;
  font-size: 1em;
  font-family: "Arvo";
  outline: 0;
  cursor: pointer;
  border-radius: 4px;
  transition: all .3s;
  box-shadow: rgba(0,0,0,.09) 0px -3px 0px 0px inset;  
  &:hover {
    background-color: #333;
  }
  &.active, &:active {
    background-color: #7ac8ff;
  }
}

 .info-box { display: none; }

.boxes {
  padding-top: 2em;
  width: 65em;
  margin: 0 auto;

}

.box { width: 15em; height: 17em; float: left; margin: 0 0 1em 1em; background-color: #fff; box-shadow: 0 0 4px rgba(0,0,0,.2); border-radius: 4px; overflow: hidden;
  img {
    max-width: 100%;
  }
  .details {
     padding: 1em;
     text-align: center;
  }
  .title {
    font-size: 1em;
    padding-bottom: .5em;
  }
  .price {
    color: #888;
  }
}


