@import url(https://fonts.googleapis.com/css?family=Arvo);

* {
  box-sizing: border-box;
  
}

body {
  font-family: "Arvo";
  background-color: #eee;
  color: #595959;
}


.buttons {
  width: 460px;

  text-align: center;
}


.boxes {
  padding-top: 2em;
  width: 65em;
  margin: 0 auto;

}

.box { width: 15em; height: 17em; float: left; margin: 0 0 1em 1em; background-color: #fff; box-shadow: 0 0 4px rgba(0,0,0,.2); border-radius: 4px; overflow: hidden;
  img {
    max-width: 100%;
  }
  .details {
     padding: 1em;
     text-align: center;
  }
  .title {
    font-size: 1em;
    padding-bottom: .5em;
  }
  .price {
    color: #888;
  }
}


